$text-main: #496174;
$text-error: #fd4c35;
$text-highlight: #3498db;

$btn-bg-primary: #59c1c9;
$btn-bg-primary-hover: #61d6df;
$btn-text-primary: #fff;

$border-color: #e2eaeb;
$border-loader: #3498db;

$modal-overlay-bg: rgba(0, 0, 0, 0.5);
$modal-window-bg: #fff;